.hello{
color: red;
font-size: x-large;
text-decoration: underline;
}
body{
    font-family: "Playwrite ES Deco", cursive;
}
.right{
    text-align: right;
}
.center{
    text-align: center;
}
.bor{
    color: white;
    background-color: black;
    padding-left: 35px;
    margin: 20px;
}
#boxborder{
width: 100px;
height: 100px;
background-color: black;
border-bottom: 10px solid red;
border-left: 10px solid purple;
border-top: 10px solid purple;
border-right: 10px dotted yellow;
}

#solo-card{
    width: 200px;
    height: 400px;
    color: white;
    background-color: black;
    padding: 30px;
    border-radius: 10px;
}
.h1prop{
    background-color: black;
    color: aqua;
    display: block;
}

.divvy{
  height: 100px;  
  width: 100px;
  display: block;
}

#reddiv{
background-color: red;
}
#yellowdiv{
background-color: yellow;
}
#blackdiv{
background-color: black;
}
.nummy{
    color: white;
    background-color: chocolate;
    padding: 10px;
    display: inline-block;
    margin: 5px;
}
#name:focus{
outline: red solid 1px;
}
.discard{
    background-color: black;
    width: 200px;
    color: white;
    padding: 10px;
}
.discard__btn{
    background-color: transparent;
    color: white;
    border: none;
    border: 2px solid whitesmoke;
}
.discard__btn:hover{
    background-color:yellowgreen;
    border: 2px solid black;
    color: black;
}
.discard__btn--red{
    background-color:yellowgreen;
    border: 2px solid black;
    color: red;
}